.element__like {
  min-width: 22px;
  height: 19px;
  background-image: url('../../../images/Like.svg');
  background-size: cover;
  border: none;
  background-color: #fff;
  margin: 5px 5px 1px 5px;
  padding: 0;
}

.element__like:hover {
  opacity: 0.6;
  cursor: pointer;
}