.profile__add-button {
  min-width: 150px;
  min-height: 50px;
  background: url(../../../images/Plus.svg) no-repeat transparent center;
  border: 2px solid #fff;
  padding: 0;
  transition: all 3s ease;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .profile__add-button {
    background-size: 16px;
    min-width: 282px;
  }
}